[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

{{   if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
	helper = /mnt/c/Users/justinsimon/scoop/shims/git-credential-manager.exe
{{- else if eq .osid "linux-ubuntu" }}
[credential]
	credentialStore = plaintext
{{   end }}

{{- if (and (hasKey . "email") (hasSuffix "@microsoft.com" .email)) }}
[credential "https://rackmanager.visualstudio.com"]
	helper =
	helper = azdo
[credential "https://azurecsi.visualstudio.com"]
	helper =
	helper = azdo
[credential "https://msazure.visualstudio.com"]
	helper =
	helper = azdo
[credential "https://microsoft.visualstudio.com"]
	helper =
	helper = azdo
[credential "https://dev.azure.com"]
	helper =
	helper = azdo
	useHttpPath = true
{{- end }}
