#!/usr/bin/env bash

# enable unofficial bash strict mode
set -euo pipefail
IFS=$'\n\t'

{{/* Use Chezmoi to get source root as it runs the script from temp files */}}
HOME_ROOT="{{ .chezmoi.sourceDir }}"
SRC_ROOT="$(cd "${HOME_ROOT}"/.. && pwd -P)"
source "${SRC_ROOT}/scripts/common.sh"

{{- if eq .chezmoi.os "darwin" -}}

{{/* Only install Homebrew packages if not deploying minimal version */}}
{{- if not .config_state.minimal }}

# Capture the contents of the Brew service and SIP to rerun the script on any changes
{{- $yabai_svc_status := first (output "brew" "services" "info" "yabai" "--json" | fromJson) -}}
# Brew Yabai status: {{ pick $yabai_svc_status "loaded" "running" "status" | toString }}
# SIP Status: {{ output "csrutil" "status"  | sha256sum }}

    
{{ else }}
log::status "$(ansi --yellow "Skipping Yabai post-install  due to minimal config")"
{{ end }}
{{ end }}
