#!/usr/bin/env bash

# enable unofficial bash strict mode
set -euo pipefail
IFS=$'\n\t'

# Use Chezmoi to get source root as it runs the script from temp files
HOME_ROOT="{{ .chezmoi.sourceDir }}"
SRC_ROOT=$(cd "${HOME_ROOT}"/.. && pwd -P)
source "${SRC_ROOT}/scripts/common.sh"

log::status "Running post install"

cd "${SRC_ROOT}" && make post-chezmoi
