{{- if (and (hasKey . "email") (hasSuffix "@microsoft.com" .email)) }}
{{/* Not a bug :/ https://developercommunity.visualstudio.com/t/Missing-Support-of-SHA-2-algorithm-for-O/1562711 */}}
Host vs-ssh.visualstudio.com
HostkeyAlgorithms +ssh-rsa
PubkeyAcceptedAlgorithms +ssh-rsa
{{ end }}
