<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectBlacklist</key>
	<array>
		<string>brazil-pkg-cache</string>
		<string>com.apple.TimeMachine*</string>
		<string>Macintosh HD</string>
		<string>MobileBackups</string>
		<string>workplace</string>
	</array>
	<key>ejectKeywordEnabled</key>
	<true/>
	<key>ejectallKeywordEnabled</key>
	<true/>
	<key>emptytrashConfirm</key>
	<true/>
	<key>lockConfirm</key>
	<true/>
	<key>logoutConfirm</key>
	<true/>
	<key>quitallConfirm</key>
	<true/>
	<key>restartConfirm</key>
	<true/>
	<key>shutdownConfirm</key>
	<true/>
	<key>sleepConfirm</key>
	<true/>
	<key>sleepdisplaysConfirm</key>
	<true/>
</dict>
</plist>
