{{- /* Declare variables */ -}}
{{- $secrets := true -}}

{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $headless := not stdinIsATTY -}}

{{/* declare variables as empty values to populate below */}}
{{- $name := get . "name" | default (env "USER") -}}
{{- $email := get . "email" | default "" -}}
{{- $github_user := get . "github_user" | default "" -}}

{{- if (env "ASK") }}
{{- $name = promptString "full name" $name -}}
{{- $email = promptString "email" $email -}}
{{- end -}}

{{- if not $headless -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  config_state:
    secrets: {{ $secrets }}
    headless: {{ $headless }}
  name: {{ $name }}
  email: {{ $email }}
