{{- /* Declare variables */ -}}
{{- $secrets := true -}}

{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $headless := not stdinIsATTY -}}

{{/* declare variables as empty values to populate below */}}
{{- $email := get . "email" | default "" -}}

{{- if not $headless -}}

{{- if (env "ASK") }}
{{- $email = promptString "email" $email -}}
{{- end -}}

{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  config_state:
    secrets: {{ $secrets }}
    headless: {{ $headless }}
  email: {{ $email }}
